@import "bootstrap/variables.less";
  @import "override/variables.less";
@import "bootstrap/mixins.less";
  @import "override/mixins.less";

// CSS Reset
@import "bootstrap/reset.less";
  @import "override/reset.less";

@import "bootstrap/utilities.less";
  @import "override/utilities.less";

@import "override/icons.less";

html, body{
  background: #fafafa;
  min-height: 400px;
  height: 100%;
  font-family: 'ProximaNovaLight', Verdana, Geneva, Arial, sans-serief;
  font-size: @baseFontSize + 2;
  line-height: @baseLineHeight + 2;
  margin: 0;
  padding: 0;
}

@import "panels.less";

#main{
  float: left;
  width: 100%;

  #content{
    margin: 23px 23px 23px @panel_main_width_closed + @panel_first_width + 1 + 23;
    width: auto;
    max-width: 730px;

    .post, .page{
      
      h1.post-title{
        font-size: @fontSizeHuge + 6px;
        line-height: @fontSizeHuge + 12px;
        padding-bottom: 10px;
        font-weight: normal;
        border: 0;

        a{
          text-decoration: none;
          color: @black;
        }

      }

      p{
        margin: 0.4em 0;
      }

      strong{

      }

      ol, ul{
        padding-left: 33px;
      }

      h1, h2, h3{
        font-weight: normal;
        border-bottom: 1px solid @grayLight;
      }

      h1{
        font-size: @fontSizeHuge;
      }

      h2{
        font-size: @fontSizeLarge + 2;
      }

      h3{
        font-size: @baseFontSize + 2;
      }

      blockquote{
        margin: 13px 0;
        padding: 0 0 0 17px;
        border-left: 3px solid @blue;
        font-style: italic;

        p{
          
        }

      }

      .prettyprint{
        font-size: @baseFontSize;
        margin: 6px 0 12px;

        ol{
          padding-left: 6px;
        }

      }

    }

  }

}

@import "override/responsive.less";