@import "bootstrap/variables.less";
  @import "override/variables.less";
@import "bootstrap/mixins.less";
  @import "override/mixins.less";

@import "bootstrap/utilities.less";
  @import "override/utilities.less";

@import "override/icons.less";

a{
  cursor: pointer;
  color: @linkColor;
  &:hover{
    color: @linkColorHover;
  }
}

html, body{
  background: #fafafa;
  min-height: 400px;
  height: 100%;
  font-family: 'ProximaNovaLight', Verdana, Geneva, Arial, sans-serief;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  margin: 0;
  padding: 0;
}

@import "panels.less";

#main{
  float: left;
  width: 100%;

  #content{
    margin: 23px 23px 23px @panel_main_width_closed + @panel_first_width + 1 + 23;
    width: auto;
    max-width: 730px;

    .post{
      
      h1.post-title{
        font-size: @fontSizeHuge + 6px;
        line-height: @fontSizeHuge + 12px;

        a{
          text-decoration: none;
          color: @black;
        }

      }

      .prettyprint{
        font-size: @baseFontSize;
      }

    }

  }

}

@import "override/responsive.less";