@black:                 #111111;
@gray:                  #9f9f9f;
@grayLight:             #e2e2e2;

@blue:                  #0096D7;
@blueDark:              #1E6491;

@baseFontSize:          14px;
@baseLineHeight:        20px;

@fontSizeHuge:          @baseFontSize * 1.71; // ~24px
@fontSizeLarge:         @baseFontSize * 1.25; // ~18px
@fontSizeSmall:         @baseFontSize * 0.85; // ~12px
@fontSizeMini:          @baseFontSize * 0.75; // ~11px

@linkColor:             @blue;
@linkColorHover:        @blueDark;

@baseFontFamily:        'DroidSans', Verdana, Geneva, Arial, sans-serief;

@headingsFontFamily:    'ProximaNovaThin', Verdana, Geneva, Arial, sans-serif;
@headingsFontFamily2:   'ProximaNovaLight', Verdana, Geneva, Arial, sans-serif;
@headingsFontFamily3:   'Ubuntu', Verdana, Geneva, Arial, sans-serif;
@headingsFontWeight:    100;

@panel_main_width_open: 216px;
@panel_main_width_closed: 43px;
@panel_first_width: 247px;
