$black = #111111
$grayDarker = #222
$gray = #9f9f9f
$grayLight = #e2e2e2
$grayLighter = #f1f1f1
$whiteGray = #fdfeff

$blue = #0096D7
$blueDark = #1E6491

$baseFontSize = 15px
$baseLineHeight = 22px

$fontSizeH1 = 45px
$fontSizeH2 = 28px
$fontSizeH3 = 22px
$fontSizeH4 = 18px
$fontSizeSidebar = 24px

$linkColor = $blue
$linkColorHover = $blueDark

$baseFontFamily = 'Droid Serif', Georgia, Times New Roman, serief
$headingsFontFamily = 'Lato', 'Proxima Nova', Verdana, Geneva, Arial, sans-serif
$headingsFontWeight =  300

$firstSidebarWidth = 43px
$secondSidebarWidth = 246px
$sidebarWidth = $firstSidebarWidth + $secondSidebarWidth

$zIndexSidebar = 100
