.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}
::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-track {
  background: #e8e8e8;
  -webkit-box-shadow: inset 1px 1px 0 #c7c7c7, inset -1px -1px 0 #d8d8d8;
}
::-webkit-scrollbar-thumb {
  background: #747474;
  -webkit-box-shadow: inset 1px 1px 3px #4d4d4d, inset -1px -1px 0 #686868;
}
.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon.icon-bumbu-logo {
  background: url('../img/icons.png') -11px -11px no-repeat;
  width: 26px;
  height: 26px;
}
a {
  cursor: pointer;
  color: #0088cc;
}
a:hover {
  color: #005580;
}
html,
body {
  background: #fafafa;
  min-height: 400px;
  height: 100%;
  font-family: 'ProximaNovaLight', Verdana, Geneva, Arial, sans-serief;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
.panels {
  height: 100%;
  float: left;
}
.panels .panel-main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  border-right: 1px solid #9f9f9f;
  background: #fff;
  width: 43px;
  overflow: hidden;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.panels .panel-main:hover,
.panels .panel-main.open {
  width: 216px;
}
.panels .panel-main:hover .logo,
.panels .panel-main.open .logo {
  -webkit-transform: rotate(0) translate(0, 0);
  -moz-transform: rotate(0) translate(0, 0);
  -ms-transform: rotate(0) translate(0, 0);
  -o-transform: rotate(0) translate(0, 0);
  transform: rotate(0) translate(0, 0);
}
.panels .panel-main .logo {
  display: block;
  position: absolute;
  height: 44px;
  width: 207px;
  top: 7px;
  left: 7px;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-transform: rotate(90deg) translate(82px, 98px);
  -moz-transform: rotate(90deg) translate(82px, 98px);
  -ms-transform: rotate(90deg) translate(82px, 98px);
  -o-transform: rotate(90deg) translate(82px, 98px);
  transform: rotate(90deg) translate(82px, 98px);
}
.panels .panel-main .logo i.icon {
  vertical-align: top;
  margin: 0px 7px 0 0;
}
.panels .panel-main .logo .logo-image {
  display: inline-block;
  margin: 1px 0 0;
}
.panels .panel-main .menu {
  display: block;
  padding: 0;
  position: absolute;
  top: 50%;
  margin: -88px 0 0;
}
.panels .panel-main .menu li {
  display: block;
  line-height: 44px;
  padding: 0 0 0 0;
  width: 216px;
}
.panels .panel-main .menu li.active,
.panels .panel-main .menu li.active:hover {
  background: #e2e2e2;
}
.panels .panel-main .menu li:hover {
  background: #eeeeee;
}
.panels .panel-main .menu li a {
  color: #9f9f9f;
  text-decoration: none;
  padding: 0 10px 0 43px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 44px -2;
  vertical-align: -4px;
}
.panels .panel-main .menu li a.icon {
  background: url(../img/icons.png) no-repeat;
}
.panels .panel-main .menu li a.icon.icon-blog {
  background-position: -3px -51px;
}
.panels .panel-main .menu li a.icon.icon-about {
  background-position: -3px -99px;
}
.panels .panel-main .menu li a.icon.icon-catalog {
  background-position: -3px -146px;
}
.panels .panel-main .menu li a.icon.icon-experiments {
  background-position: -3px -196px;
}
.panels .panel-first {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  left: 44px;
  width: 247px;
  border-right: 1px solid #9f9f9f;
  overflow: auto;
}
.panels .panel-first .item {
  padding: 14px;
  cursor: pointer;
}
.panels .panel-first .item.searchbar {
  height: 43px;
  padding: 0;
}
.panels .panel-first .item.active,
.panels .panel-first .item.active:hover {
  background: #e2e2e2;
  cursor: default;
}
.panels .panel-first .item:hover {
  background: #eeeeee;
}
.panels .panel-first .item .title {
  font-size: 20.939999999999998px;
  line-height: 26.939999999999998px;
}
.panels .panel-first .item .content {
  font-size: 14px;
}
.body-container {
  margin: 0 0 0 237px;
}
