.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  background: #fafafa;
  min-height: 400px;
  height: 100%;
  font-family: 'ProximaNovaLight', Verdana, Geneva, Arial, sans-serief;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.panels {
  height: 100%;
  float: left;
}
.panels .panel-main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  border-right: 1px solid #000;
  background: #fff;
  width: 36px;
  overflow: hidden;
  transition: all 1s;
}
.panels .panel-main:hover,
.panels .panel-main.open {
  width: 170px;
}
.panels .panel-main .logo {
  display: block;
  position: absolute;
  height: 36px;
  width: 170px;
  background: #ccc;
}
.panels .panel-main .menu {
  display: block;
  padding: 0;
  position: absolute;
  top: 50%;
  margin: -72px 0 0;
}
.panels .panel-main .menu li {
  display: block;
  line-height: 36px;
  padding: 0 0 0 36px;
  width: 134px;
}
.panels .panel-main .menu li.active,
.panels .panel-main .menu li.active:hover {
  background: #bbb;
}
.panels .panel-main .menu li:hover {
  background: #eee;
}
.panels .panel-main .menu li a {
  color: black;
  text-decoration: none;
  padding: 0 10px;
}
.panels .panel-first {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  left: 37px;
  width: 200px;
  border-right: 1px solid #000;
  overflow: auto;
}
.panels .panel-first .item {
  padding: 14px;
}
.panels .panel-first .item.searchbar {
  height: 36px;
  padding: 0;
}
.panels .panel-first .item.active {
  background: #ccc;
}
.panels .panel-first .item .title .content {
  font-size: 12px;
}
.body-container {
  margin: 0 0 0 237px;
}
